<div class="p-2 m-2 rounded d-flex justify-content-center" style="background-color:#edf3fc">
  <div class="card d-flex justify-content-center" style="max-width: 700px">
    <div class="card-body">
      <h1 class="card-title text-success text-center">Welcome to SpendSmartly</h1>
      <div class="card-body">
        <h5 class="card-text d-flex justify-content-center">With this app, you can easily log your real-time expenditures.</h5>
        <h6 class="card-text d-flex justify-content-center">Please Sign Up or Log In to use the app</h6>
        <div class="text-center">
            <a href="<%= new_user_session_path %>" class="btn btn-primary" style="margin-right: 10px;">Login</a>
            <a href="<%= new_user_registration_path %>" class="btn btn-success">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div>